.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #646cff;
  border-radius: 8px;
  padding: 12px;
}

.contactText {
  white-space: nowrap;
  overflow: hidden;
}

.contactName {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.contactNumber {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
}

.buttonDelete {
  width: 100px;
  padding: 10px 15px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 5px;
  border-radius: 60px;
  background-color: #5d5252;
  border: none;
  color: #6e7caa;
  box-shadow: 0 4px 4px #00000026;
  font-size: 20px;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonDelete:hover {
  background-color: #6b2525;
  color: #e7cec5;
}
